<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--  css de iconos  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!--  llamando fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!--  css de normalize, normaliza a traves de browsers  -->
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <!--  mis css  -->
    <link href="/css/theme.css" rel="stylesheet" type="text/css">
    <link href="/css/style-tablet.css" rel="stylesheet" type="text/css">
    <link href="/css/style-mobile.css" rel="stylesheet" type="text/css">
    <link href="/css/style-laptop.css" rel="stylesheet" type="text/css">

</head>

<body class="bg-light-grey">
    <header class="bg-yellow font-dark-grey abajo-padding-20">
        <div class="main-header">
            <div class="img-logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado liebre" class="logo">
            </div>
            <div class="input">Lugar para poner barra de búsqueda</div>
            <p class="copy-header copy-header-m"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
                de crédito</p>
        </div>


        <nav class="nav-bar">
            <ul>
                <li class="listas"><a href="#" target="_blank" class="link font-dark-grey">Ofertas</a></li>
                <li class="listas"><a href="#" target="_blank" class="link font-dark-grey">Tiendas Oficiales</a></li>
                <li class="listas"><a href="#" target="_blank" class="link font-dark-grey">Vender</a></li>
                <li class="listas"><a href="#" target="_blank" class="link font-dark-grey">Ayuda</a></li>
            </ul>
            <ul>
                <li class="listas"><a href="#" target="_blank" class="link font-dark-grey">Creá tu cuenta <i
                            class="far fa-id-card"></i></a></li>
                <li class="listas"><a href="#" target="_blank" class="link font-dark-grey">Ingresá <i
                            class="fas fa-sign-in-alt"></i></a></li>
                <li class="listas"><a href="#" target="_blank" class="link font-dark-grey">Mis compras <i
                            class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu bg-blue font-white">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <img src="/images/img-home-banner.jpg" width="100%" alt="Banner">
    <main>
       
        <form class="registroUsuario" action="/registro" method="POST">
            <div class="elementosForm"><input type="text" name="usuario" placeholder="Nombre de usuario" class="field">
            </div>
            <div class="elementosForm"><input type="password" name="pass"
                    class="field" placeholder="Contraseña"></div>
            <button type="submit" class="botonForm-login">Enviar</button>
            
        </form>
    </main>

    <footer class="arriba-30">
        <section class="ancho-60">
            <div class="abajo-30">
                <p><i class="fas fa-credit-card icon-footer"></i></p>
                <h3> Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </div>

            <div class="abajo-30">
                <p><i class="fas fa-gift icon-footer"></i></p>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </div>
            <div class="abajo-30">
                <p><i class="fas fa-user-shield icon-footer"></i></p>
                <h3> Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>

            </div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>

</body>

</html>